################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebApi/.vs/WebApi/v16
/WebApi/WebApi/obj
